/* components/Header.css */
body {
    background-color: #282c34;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.dropdown-menu {
    background: #1e1e1e;
}

.bars {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}
h2{
    color: white;
}
h1{
    background-color: #282c34;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}

li a {
    text-align: right; /* Alinea el contenido a la derecha */
  margin-top: 20px;  /* Ajusta el margen superior según sea necesario */
  padding-right: 20px; /* Añade un espacio a la derecha para mejorar el diseño */
}

ul li a:hover {
    background: #ff5722;
}

/* Estilos para tablet (ajústalos según tus necesidades) */
@media (max-width: 850px) {
    .bars {
        background-color: #1e1e1e;
        display: block;
    }
}
#content {
    min-height: 100vh;
    padding-bottom: 50px;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}